main {
    background-image: url('../../assets/accelgora.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

@media screen and (max-width: 768px) {
    main {
        background-size: cover;
        background-position: left;
    }
}
